:root {
      --primary-color: #000000;
      --secondary-color: #0dcaf0;
      --tertiary-color: #00aed169;
      --quaternary-color: #ffffff;
      --box-shadow: 0 5px 10px #00607469;
      --text-shadow: 5px 5px 6px #00aed169;
}

body {
      margin: 100px 0;
      background-color: var(--primary-color);
      font-family: 'Shrikhand', cursive;
}

h1,
h2,
h3,
h4,
h5 {
      margin: 0;
      text-shadow: var(--text-shadow);
      font-family: 'Shrikhand', cursive;
}

h1 {
      margin-top: 150px;
      font-size: 96px;
      color: var(--secondary-color);
      ;
}

h2 {
      font-size: 48px;
      color: var(--secondary-color);
}

h3 {
      font-size: 36px;
      color: var(--secondary-color);
      margin-bottom: 50px;
}

h4 {
      font-size: 24px;
      color: var(--secondary-color);
      margin-bottom: 30px;
}

h5 {
      font-size: 24px;
      color: var(--secondary-color);
      margin-top: 40px;
      margin-bottom: 15px;
      text-decoration: underline;
}

p {
      font-size: 18px;
      line-height: 1.5;
      font-family: 'Chivo', sans-serif;
      color: var(--secondary-color);
}

ul {
      margin-top: 30px;
      list-style: none;
}

li {
      padding: 15px;
}

footer {
      margin-top: 150px;
}

.container {
      margin: auto;
}



.navigation-links {
      display: flex;
      margin-top: 40px;
      justify-content: center;
}

.navigation-links a {
      margin: 20px;
}

.primary-link {
      border-radius: 4px;
      padding: 20px 15px;
      text-decoration: none;
      text-transform: capitalize;
      background: var(--secondary-color);
      box-shadow: var(--box-shadow);
      color: #fff;
}

.primary-link:hover {
      color: white;
}

.homepage-link {
      color: var(--primary-color);
      text-align: center;
      display: block;
}

.about-paragraphs {
      margin: 30px 0;
}

.about-paragraphs p {
      margin: 10px;
}

.email-link,
.linkedin-link {
      display: flex;
      justify-content: center;
      font-size: 28px;
      text-decoration: none;
      border: 10px hidden;
      border-radius: 150px;
      color: var(--tertiary-color);

}

.email-link:hover {
      color: var(--quaternary-color);
}

.linkedin-link:hover {
      color: var(--quaternary-color);
}

.me {
      max-width: 200px;
      border: 3px solid var(--secondary-color);
      border-radius: 150px;
      margin-bottom: 35px;
}

.github-link {
      color: #fff;
}

.github-link:hover {
      color: var(--quaternary-color);

}

li {
      color: var(--tertiary-color);
}

@media (max-width: 576px) {
      h1 {
            font-size: 48px;
            line-height: 1.5;
      }

      h2 {
            font-size: 32px;
            text-align: center;
      }

      p {
            text-align: center;
      }

      .project-link {
            display: block;
            text-align: center;
            margin: 0 20px;
      }


}